@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    :root {
      --vivid-background: 0 0% 100%;
      --vivid-foreground: 224 71.4% 4.1%;
      --vivid-card: 0 0% 100%;
      --vivid-card-foreground: 224 71.4% 4.1%;
      --vivid-popover: 0 0% 100%;
      --vivid-popover-foreground: 224 71.4% 4.1%;
      --vivid-primary: 262.1 83.3% 57.8%;
      --vivid-primary-foreground: 210 20% 98%;
      --vivid-secondary: 220 14.3% 95.9%;
      --vivid-secondary-foreground: 220.9 39.3% 11%;
      --vivid-muted: 220 14.3% 95.9%;
      --vivid-muted-foreground: 220 8.9% 46.1%;
      --vivid-accent: 220 14.3% 95.9%;
      --vivid-accent-foreground: 220.9 39.3% 11%;
      --vivid-destructive: 0 84.2% 60.2%;
      --vivid-destructive-foreground: 210 20% 98%;
      --vivid-border: 220 13% 91%;
      --vivid-input: 220 13% 91%;
      --vivid-ring: 262.1 83.3% 57.8%;
      --vivid-radius: 0.5rem;
      --vivid-chart-1: 12 76% 61%;
      --vivid-chart-2: 173 58% 39%;
      --vivid-chart-3: 197 37% 24%;
      --vivid-chart-4: 43 74% 66%;
      --vivid-chart-5: 27 87% 67%;
    }

    .dark {
      --vivid-background: 224 71.4% 4.1%;
      --vivid-foreground: 210 20% 98%;
      --vivid-card: 224 71.4% 4.1%;
      --vivid-card-foreground: 210 20% 98%;
      --vivid-popover: 224 71.4% 4.1%;
      --vivid-popover-foreground: 210 20% 98%;
      --vivid-primary: 263.4 70% 50.4%;
      --vivid-primary-foreground: 210 20% 98%;
      --vivid-secondary: 215 27.9% 16.9%;
      --vivid-secondary-foreground: 210 20% 98%;
      --vivid-muted: 215 27.9% 16.9%;
      --vivid-muted-foreground: 217.9 10.6% 64.9%;
      --vivid-accent: 215 27.9% 16.9%;
      --vivid-accent-foreground: 210 20% 98%;
      --vivid-destructive: 0 62.8% 30.6%;
      --vivid-destructive-foreground: 210 20% 98%;
      --vivid-border: 215 27.9% 16.9%;
      --vivid-input: 215 27.9% 16.9%;
      --vivid-ring: 263.4 70% 50.4%;
      --vivid-chart-1: 220 70% 50%;
      --vivid-chart-2: 160 60% 45%;
      --vivid-chart-3: 30 80% 55%;
      --vivid-chart-4: 280 65% 60%;
      --vivid-chart-5: 340 75% 55%;
    }
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply antialiased bg-background text-foreground font-bricolage-grotesque;
  }

  /* hide scrollbar */
  *::-webkit-scrollbar {
    display: none;
  }

  /* hide scrollbar for Firefox */
  * {
    scrollbar-width: none;
  }

  /* hide scrollbar for IE, Edge and Safari */
  * {
    -ms-overflow-style: none;
  }
}
