@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --vivid-background: 0 0% 100%;
    --vivid-foreground: 240 10% 3.9%;
    --vivid-card: 0 0% 100%;
    --vivid-card-foreground: 240 10% 3.9%;
    --vivid-popover: 0 0% 100%;
    --vivid-popover-foreground: 240 10% 3.9%;
    --vivid-primary: 240 5.9% 10%;
    --vivid-primary-foreground: 0 0% 98%;
    --vivid-secondary: 240 4.8% 95.9%;
    --vivid-secondary-foreground: 240 5.9% 10%;
    --vivid-muted: 240 4.8% 95.9%;
    --vivid-muted-foreground: 240 3.8% 46.1%;
    --vivid-accent: 240 4.8% 95.9%;
    --vivid-accent-foreground: 240 5.9% 10%;
    --vivid-destructive: 0 84.2% 60.2%;
    --vivid-destructive-foreground: 0 0% 98%;
    --vivid-border: 240 5.9% 90%;
    --vivid-input: 240 5.9% 90%;
    --vivid-ring: 240 5.9% 10%;
    --vivid-radius: 0.5rem;
    --vivid-chart-1: 12 76% 61%;
    --vivid-chart-2: 173 58% 39%;
    --vivid-chart-3: 197 37% 24%;
    --vivid-chart-4: 43 74% 66%;
    --vivid-chart-5: 27 87% 67%;
  }

  .dark {
    --vivid-background: 240 10% 3.9%;
    --vivid-foreground: 0 0% 98%;
    --vivid-card: 240 10% 3.9%;
    --vivid-card-foreground: 0 0% 98%;
    --vivid-popover: 240 10% 3.9%;
    --vivid-popover-foreground: 0 0% 98%;
    --vivid-primary: 0 0% 98%;
    --vivid-primary-foreground: 240 5.9% 10%;
    --vivid-secondary: 240 3.7% 15.9%;
    --vivid-secondary-foreground: 0 0% 98%;
    --vivid-muted: 240 3.7% 15.9%;
    --vivid-muted-foreground: 240 5% 64.9%;
    --vivid-accent: 240 3.7% 15.9%;
    --vivid-accent-foreground: 0 0% 98%;
    --vivid-destructive: 0 62.8% 30.6%;
    --vivid-destructive-foreground: 0 0% 98%;
    --vivid-border: 240 3.7% 15.9%;
    --vivid-input: 240 3.7% 15.9%;
    --vivid-ring: 240 4.9% 83.9%;
    --vivid-chart-1: 220 70% 50%;
    --vivid-chart-2: 160 60% 45%;
    --vivid-chart-3: 30 80% 55%;
    --vivid-chart-4: 280 65% 60%;
    --vivid-chart-5: 340 75% 55%;
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply antialiased bg-background text-foreground font-bricolage-grotesque;
  }

  /* hide scrollbar */
  *::-webkit-scrollbar {
    display: none;
  }

  /* hide scrollbar for Firefox */
  * {
    scrollbar-width: none;
  }

  /* hide scrollbar for IE, Edge and Safari */
  * {
    -ms-overflow-style: none;
  }
}
