---
import FilloutForm from "../components/FilloutForm.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout description="Share feedback that helps improve Vivid Tab." title="Give Feedback | Vivid Tab">
	<main><FilloutForm formId="qQQEhC1V9Tus" /></main>
</BaseLayout>
