---
import Faqs from "../components/landing/Faqs.astro";
import Features from "../components/landing/Features.astro";
import Hero from "../components/landing/Hero.astro";
import Highlights from "../components/landing/Highlights.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main class="space-y-32">
		<Hero />
		<Highlights />
		<Features />
		<Faqs />
	</main>
</BaseLayout>
