---
import FilloutForm from "../components/FilloutForm.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout description="Tell us why you uninstalled Vivid Tab." title="Uninstall Feedback | Vivid Tab">
	<main><FilloutForm formId="9TVHXMBuvkus" /></main>
</BaseLayout>
