---
import ReleaseContent from "../components/ReleaseContent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout description="See what changed in Vivid Tab 1.4.0." title="What’s New | Vivid Tab: A new tab, a new vibe.">
	<main class="min-h-screen"><ReleaseContent /></main>
</BaseLayout>
